      <footer class="main-footer">
        <div class="footer-left">
          Copyright &copy; 2021 <div class="bullet"></div> Created By <a href="https://nauval.in/">IRESTECH Team</a>
        </div>
      </footer>