<div class="main-sidebar">
  <aside id="sidebar-wrapper">
    <div class="sidebar-brand">
      <a href="/dashboard">Simapres</a>
    </div>
    <div class="sidebar-brand sidebar-brand-sm">
      <a href="">Admin</a>
    </div>
    <ul class="sidebar-menu">
      <li><a class="nav-link" href="/dashboard"><i class="fas fa-fire"></i> <span>Dashboard</span></a></li>
      <li class="nav-item dropdown">
        <a href="#" class="nav-link has-dropdown" data-toggle="dropdown"><i class="fas fa-columns"></i>
          <span>Berita & Artikel</span></a>
        <ul class="dropdown-menu">
          <li><a class="nav-link" href="/artikelNew">Tambah Artikel</a></li>
          <li><a class="nav-link" href="/artikel">Semua Artikel</a></li>
          <li><a class="nav-link" href="/beritaNew">Tambah Berita</a></li>
          <li><a class="nav-link" href="/berita">Semua Berita</a></li>
          <li><a class="nav-link" href="/kontenCat">Kategori</a></li>
        </ul>
      </li>
      <li class="nav-item dropdown">
        <a href="#" class="nav-link has-dropdown" data-toggle="dropdown"><i class="fas fa-columns"></i>
          <span>Lomba</span></a>
        <ul class="dropdown-menu">
          <li><a class="nav-link" href="/lombaAll">Semua Lomba</a></li>
          <li><a class="nav-link" href="/lombaCat">Kategori Lomba</a></li>
          <li><a class="nav-link" href="/lombaTag">Tag Lomba</a></li>
        </ul>
      </li>
      <li>
        <a class="nav-link" href="/mahasiswa"><i class="fas fa-user">
        </i> <span>Mahasiswa Berprestasi</span></a>
      </li>
      <% var role = profil[0].level 
        if(role == 'Superadmin'){
      %> 
      <li>
        <a class="nav-link" href="user"><i class="fas fa-pencil-ruler">
        </i> <span>Pengaturan User</span></a>
      </li>
      <% } %>
    </ul>

    <div class="mt-4 mb-4 hide-sidebar-mini">
      <a href="https://puspresnas.com" class="btn btn-primary btn-lg btn-block btn-icon-split">
        <i class="fas fa-globe"></i> Puspresnas
      </a>
    </div>
  </aside>
</div>